@model IEnumerable<Zadatak01.Models.Kupac>

@{
    ViewBag.Title = "Index";
}

<h2>Prikaz 10 Kupaca</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDKupac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDKupac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            <a href="mailto:@item.Email">@item.Email</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad.Naziv)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Uredi", new { id=item.IDKupac })
        </td>
    </tr>
}

</table>


@Html.Partial("_KupacCount", (int)ViewBag.kupacCount)