
@{
    ViewBag.Title = "Index";
}

<h2>Pregled racuna kupaca</h2>

<hr />
@Html.Label(expression: "kupac", labelText: "Kupac:")
@Html.TextBox(name: "kupac", htmlAttributes: new { @class = "form-control" }, value: null)

<hr />

<div id="racuniKupca">
    <h3>Racuni kupca</h3>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Broj racuna</th>
            <th>Datum Izdavanja</th>
            <th>Komentar</th>
        </tr>
    </table>
</div>

<p id="info"></p>

@section scripts {
    <script>
        $("#racuniKupca").hide();

        $("#kupac").autocomplete({
            source: '@Url.Action(actionName: "GetAutoCompleteKupci", controllerName: "Ajax")',
            select: function (e, ui) {
                e.preventDefault();

                var kupac = {
                    ime: ui.item.label,
                    id: ui.item.value
                };

                $(this).val(kupac.ime)

                prikaziRacuneKupca(kupac.id);

                $("h3").html(`Racuni kupca <a href='@Url.Action(controllerName: "Ajax", actionName: "Uredi")/${kupac.id}'>${kupac.ime}</a>`);
            },
            focus: function (e, ui) {
                e.preventDefault();
                $(this).val(ui.item.label)
            },
            minLength: 2
        });

        function prikaziRacuneKupca(id) {
            $.ajax({
                url: '@Url.Action(controllerName: "Ajax", actionName: "GetRacuniKupca")',
                data: { id },
                success: function (racuni) {
                    if (racuni.length > 0) {
                        
                    }
                }
            })
        }
    </script>
}